@charset "utf-8";

@import "../../assets/_initializer.scss";

.navigation-main {
	$parent: &;

	&__list {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	&__item {
		list-style-type: none;
		margin: 0 _b__rem(30px) 0 0;
		position: relative;

		&--no-spacing {
			margin: 0;
		}

		&:last-child {
			margin: 0;
		}
	}

	&__link {
		@include font__effra--bold;
		@include _b__font-size-rem(18px);

		color: $color__navigation-main-link;
		padding: _b__rem(6px) 0;
		display: inline-block;

		&,
		&:hover,
		&:focus,
		&:active {
			text-decoration: none;
		}
	}

	&__button {
		&--detective {
			@include fontawesome("f8ea");
		}

		&--typewriter {
			@include fontawesome("f8e7");
		}
	}
}
